<mat-toolbar color="primary">
    <span>Desafio Encode</span>        
    <span class="example-spacer"></span>        
    <button mat-button routerLink="/dashboard/usuario">Alta Usuario</button>
    <button mat-button routerLink="/dashboard/actividades">Actividades</button>
    <span class="example-spacer"></span>        
</mat-toolbar>

<!-- <a mat-list-item routerLink="/usuario" (click)="onSidenavClose()">
    <mat-icon>group</mat-icon><span class="nav-caption"> Alta Usuario</span>
</a>
<a mat-list-item routerLink="/actividades" (click)="onSidenavClose()">
    <mat-icon>fact_check</mat-icon><span class="nav-caption"> Actividades</span>
</a> -->